@{
    Layout = "_SecondLayout";
}
@model IEnumerable<Urun>

<section id="Urun" class="project_section layout_padding">
    <div class="container text-center">
        <div class="heading_container">
            <h2 class="text-center">Ürünler</h2>
        </div>
        <div class="owl-carousel project_carousel">
            @foreach (var Urun in Model)
            {
                <div class="item">
                    <div class="box">
                        <div class="img-box">
                            <img src="~/template/@Urun.ResimDosyaYolu" alt="@Urun.Ad" />
                        </div>
                        <div class="detail-box">
                            <h5>@Urun.Ad</h5>
                            <p>@Urun.Aciklama</p>
                            <p>Fiyat: @Urun.Fiyat</p>
                            <p>Stok: @Urun.Stok</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>


<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6U5BQniib9gPj8ETMZyD2yA11yd90xT9WZJpJmO07yUXvYjPeSO" crossorigin="anonymous"></script>
  <script src="~/template/js/jquery-3.4.1.min.js"></script>
    <!-- popper js -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <!-- bootstrap js -->
    <script src="~/template/js/bootstrap.js"></script>
    <!-- owl slider -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
    </script>
    <!--  OwlCarousel 2 - Filter -->
    <script src="https://huynhhuynh.github.io/owlcarousel2-filter/dist/owlcarousel2-filter.min.js"></script>
    <!-- custom js -->
    <script src="~/template/js/custom.js"></script>
    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
    </script>
